<div class="container mx-auto flex flex-col justify-between my-32 items-center px-4 lg:flex-row">
  <div class="flex-1 text-center mb-5">
    <h1 class="text-2xl mb-2">Agence Web <strong class="font-bold text-blue-500">Korweb</strong></h1>
    <h2 class="italic">Experts en Solutions Web</h2>
  </div>
  <div class="flex-1 text-justify space-y-3">
    <p>Implantée à <strong>Fréjus</strong> dans le Var (PACA), l'agence <strong>Korweb</strong> conçoit des solutions
      web personnalisées pour développer votre présence en ligne et optimiser vos processus métier.</p>
    <p>Notre expertise s'étend de la création de <strong>sites vitrines professionnels</strong>, <strong>solution
      e-commerce</strong>, au développement de <strong>logiciel sur mesure</strong> afin de répondre au <strong>besoin
      spécifique</strong> de votre entreprise</p>
    <p>Chaque projet bénéficie d'un <strong>accompagnement personnalisé</strong>, depuis la conception jusqu'à la mise
      en ligne, avec un engagement constant sur la <strong>qualité</strong> et le <strong>professionnalisme</strong>.
    </p>
  </div>
</div>