---
import { Image } from 'astro:assets';
import hero from '../../images/hero.png';
---
<div class="hero bg-base-100 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <!--todo: revoir la disposition -->
    <Image src={hero} alt="hero" class="max-w-sm rounded-lg shadow-2xl"/>
    <div>
      <h1 class="text-5xl font-bold">Korweb</h1>
      <h2 class="text-xl">Agence Digital Web</h2>
      <!--TODO: revoir le texte-->
      <p class="py-6">
        Créons ensemble votre succès digital
      </p>
      <a href="/contact" class="btn btn-primary">Contactez-nous</a>
    </div>
  </div>
</div>