---
import Layout from '../layouts/Layout.astro';
import PageHeader from "../components/PageHeader.astro";
---

<Layout>
  <PageHeader title="L'agence"/>
  <!--  ajouter un hero sur toute la largueur-->
  <div class="container mx-auto">

    <div class="flex h-96 items-center">
      <h2 class="flex-1 text-center">Laissez-vous guider</h2>
      <div class="flex-1 text-justify">
        <p class=" mb-2">Chez Korweb, nous proposons des solutions de communication créatives et
          performantes pour captiver vos clients et prospects.</p>
        <p>Notre mission : vous accompagner avec expertise vers votre
          réussite.</p>
      </div>
    </div>

    <div class="">
      <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
        <li>
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5">
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"/>
            </svg>
          </div>
          <div class="timeline-start mb-10 md:text-end">
            <time class="font-mono italic">Philosophie</time>
            <div class="text-lg font-black">L'AGENCE QUI VOUS INSPIRE...</div>
            Korweb, un partenaire de confiance qui exploite l'essence de votre entreprise et vous propose une vision
            globale de votre stratégie de communication. Nous élaborons ensemble votre projet et vous accompagnons à
            chaque étape de sa réalisation : analyse, idée créative, conception, réalisation et déploiement.
          </div>
          <hr/>
        </li>
        <li>
          <hr/>
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5">
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"/>
            </svg>
          </div>
          <div class="timeline-end md:mb-10">
            <time class="font-mono italic">Design</time>
            <div class="text-lg font-black">SUR-MESURE GARANTI</div>
            Votre image de marque doit être unique, car elle définit vos valeurs, votre secteur d'activité et vos
            ambitions. Elle doit être simple, mais efficace, forte et extrêmement lisible. Notre équipe créative
            s'attache à créer du sens et à transmettre les valeurs fondamentales de votre entreprise à travers un design
            web séduisant et original.
          </div>
          <hr/>
        </li>
        <li>
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5">
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"/>
            </svg>
          </div>
          <div class="timeline-start mb-10 md:text-end">
            <time class="font-mono italic">Promesse</time>
            <div class="text-lg font-black">PAS DE PETIT PROJET, QUE DE BELLES IDÉES !</div>
            Nos experts sont en charge de définir les enjeux de votre projet et de positionner les solutions web
            idéales. Nous élaborons ensemble les éléments de votre projet et vous accompagnons à chaque étape, de la
            réflexion à la mise en ligne (conception, développement, intégration).
          </div>
          <hr/>
        </li>
        <li>
          <hr/>
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5">
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"/>
            </svg>
          </div>
          <div class="timeline-end md:mb-10">
            <time class="font-mono italic">Technologies</time>
            <div class="text-lg font-black">DES SPÉCIALISTES À L'ÉCOUTE DES TENDANCES</div>
              Développement front-end, back-end, architecture web moderne, performances et optimisation SEO, analyse de
              données et
              maintenance n'ont plus de secret pour nos équipes. Nous maîtrisons les dernières technologies pour créer
              des solutions
              web robustes et évolutives
          </div>
          <hr/>
        </li>

        <li>
          <div class="timeline-middle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="h-5 w-5">
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd"/>
            </svg>
          </div>
          <div class="timeline-start mb-10 md:text-end">
            <time class="font-mono italic">Promotion</time>
            <div class="text-lg font-black">UNE VISIBILITÉ ASSURÉE</div>
            Korwerb met tout en œuvre pour positionner et asseoir votre notoriété : référencement naturel, positionnement
            payant, e-mailing, relations presse, plan média, community management… Nous vous aidons à capter l’attention de
            vos cibles.
          </div>
          <hr/>
        </li>
      </ul>
    </div>
  </div>

  <div class="bg-gradient-to-r from-indigo-500 to-blue-500 h-72 flex items-center text-white">
    <div class="container mx-auto flex">
      <div class="flex-1 text-center">
        <h2 class="text-2xl font-bold uppercase">Un projet ?</h2>
        <p>ET SI NOUS FAISIONS CONNAISSANCE ?</p>
      </div>
      <div class="flex-1 text-justify">
        <p>Gefigram, l'agence de communication dans le Var et les Alpes-Maritimes qui vous accompagne dans tous vos
          projets de communication.</p>
        <div class="mt-2 text-end">
          <a href="/" class="btn">Contactez nous</a>
        </div>
      </div>
    </div>

  </div>
</Layout>
