---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<!--  ajouter un hero sur toute la largueur-->
  <div class="">
    <h2>LAISSEZ-VOUS
      guider...</h2>
    <p>Chez Gefigram nous proposons des solutions de communication créatives et performantes qui susciteront l'adhésion de vos clients et prospects. Notre approche, vous conseiller.</p>
  </div>
  <div class="">
  <!--  img-->
  <!--  trait-->
    <h3>Philosophie</h3>
    <h4>L'AGENCE QUI VOUS INSPIRE...</h4>
    <p>Gefigram, un partenaire de confiance qui exploite l'essence de votre entreprise et vous propose une vision globale de votre stratégie de communication. Nous élaborons ensemble votre projet et vous accompagnons à chaque étape de sa réalisation : analyse, idée créative, conception, réalisation et impression.</p>
  </div>
  <div class="">
    <!--  img-->
    <!--  trait-->
    <h3>Agence multicanal</h3>
    <h4>Gefigram, une agence de communication 360°.</h4>
    <p>Usez et abusez de tous les supports de communication à votre disposition. Gefigram garantit des projets de communication multicanal, gages d’efficacité et de notoriété auprès de vos clients/prospects.</p>
  </div>
  <div class="">
    <!--  img-->
    <!--  trait-->
    <h3>Design</h3>
    <h4>SUR-MESURE GARANTI</h4>
    <p>Votre image de marque doit être unique, car elle définit vos valeurs, votre secteur d'activité et vos ambitions. Elle doit être simple, mais efficace, forte et extrêmement lisible. Notre pôle création s’attache à créer du sens et à transmettre les valeurs fondamentales de votre entreprise à travers un concept séduisant et original.</p>
  </div>
  <div class="">
    <!--  img-->
    <!--  trait-->
    <h3>Promesse</h3>
    <h4>PAS DE PETIT PROJET, QUE DE BELLES IDÉES !</h4>
    <p>Nos experts sont en charge de définir les enjeux de votre projet et de positionner les solutions idéales. Nous élaborons ensemble les éléments de votre projet et vous accompagnons à chaque étape, de la réflexion à la création (conception, réalisation, impression).</p>
  </div>
  <div class="">
    <!--  img-->
    <!--  trait-->
    <h3>Technologies</h3>
    <h4>DES SPÉCIALISTES À L'ÉCOUTE DES TENDANCES</h4>
    <p>Architecture de sites Web, programmation Internet, développement Web, suivi (gestion de trafic, fidélisation, newsletters) n’ont plus de secret pour nos équipes.</p>
  </div>
  <div class="">
    <!--  img-->
    <!--  trait-->
    <h3>Promotion</h3>
    <h4>UNE VISIBILITÉ ASSURÉE</h4>
    <p>Gefigram met tout en œuvre pour positionner et asseoir votre notoriété : référencement naturel, positionnement payant, e-mailing, relations presse, plan média, community management… Nous vous aidons à capter l’attention de vos cibles.</p>
  </div>
  <div class="">
  <!--  composant contact-->
    <div class="">
      <h2>Un projet ?</h2>
      <p>ET SI NOUS FAISIONS CONNAISSANCE ?</p>
    </div>
    <div class="">
      <p>Gefigram, l'agence de communication dans le Var et les Alpes-Maritimes qui vous accompagne dans tous vos projets de communication.</p>
      <a href="/">Contactez nous</a>
    </div>
  </div>
</Layout>
