---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="">
    <p>Faisons connaissance</p>
  </div>
  <div class="">
    <p>UNE ÉTUDE ? UN DEVIS ? POUR UNE ÉTUDE PERSONNALISÉE,
      CONTACTEZ NOTRE CHEF DE PROJET AU 04 94 50 60 90</p>
  <!--  logo-->
    <form>
      <div class="">
        <label>Nom</label>
        <input>
      </div>
      <div class="">
        <label>Prénom</label>
        <input>
      </div>
      <div class="">
        <label>Email</label>
        <input>
      </div>
      <div class="">
        <label>Téléphone</label>
        <input>
      </div>
      <div class="">
        <label>Objet du message</label>
        <input>
      </div>
      <div class="">
        <label>Message</label>
        <textarea></textarea>
      </div>
      <div class="">
        <label>J'autorise S.A.S. GEFIGRAM à collecter mes données personnelles pour pouvoir me contacter et traiter ma demande. Vos données personnelles ne seront jamais communiquées à des tiers. En savoir plus
        <input type="checkbox">
        </label>
      </div>
      <p>* Champs obligatoires</p>
      <button type="submit">Envoyer</button>
    </form>
    <p>Les informations recueillies à partir de ce formulaire sont enregistrées et transmises à un contact chez S.A.S. GEFIGRAM chargé du traitement de votre message. Vous disposez d'un droit d'accès, de rectification et d'opposition aux données vous concernant, que vous pouvez exercer en nous contactant. <a href="/politique-confidentialite">En savoir plus</a></p>
  </div>
</Layout>
