---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Hero from "../components/homepage/Hero.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
<Hero />
  <div class="">
    <div class="">
      <h2>KORWEB, L'AGENCE DIGITAL qui fait la référence</h2>
    </div>
    <div class="">
      <p>L'agence Korweb basé dans le Var, en région PACA, met à votre service une équipe de professionels de la communication digital et du marketing</p>
      <p>Spécialiste du design, du développement web, de l'animation graphique et du e-marketing, nous offrons une large gamme de services pour répondre à tous vos besoins</p>
      <p>Conception graphique, maintenance de vos projet Wordpress, refonte de votre image de marque, création de logiciel sur mesure, nous vous garantissans le meilleurs support pour vos communications</p>
    </div>
  </div>
  <div class="">
    <div class="">
    <!--  TODO: ajouter un logo-->
      <h3>stratégie de communication</h3>
      <p>Nous développons avec intuition et stratégie tous vos projets de communication. Nous élaborons ensemble votre projet et vous accompagnons à chaque étape de sa réalisation : analyse, idée créative, conception, réalisation et impression</p>
      <a>En savoir plus</a>
    </div>
    <div class="">
      <!--  TODO: ajouter un logo-->
      <h3>concept & graphisme</h3>
      <p>Votre style graphique va s’exprimer à travers la création d’un logo et l’élaboration d’une charte graphique. Garant de l’harmonie de votre image de marque, nous  déclinerons ensuite cette image sur tous les supports de communication nécessaires à votre entreprise.</p>
      <a>En savoir plus</a>
    </div>
    <div class="">
      <!--  TODO: ajouter un logo-->
      <h3>SITES INTERNET
        SUR-MESURE</h3>
      <p>Des solutions de site Internet vitrine ou de site web marchand sur-mesure pour vous faire bénéficier d’une visibilité et d’une notoriété digitale à l’image de votre entreprise. Nous vous proposons des outils adaptés, performants et une gestion de projet assumée !</p>
      <a>En savoir plus</a>
    </div>
    <div class="">
      <!--  TODO: ajouter un logo-->
      <h3>VISIBILITÉ &
        E-MARKETING</h3>
      <p>Communiquer ? Oui.
        Se développer ? Oh que oui !
        Gefigram propose des solutions e-marketing efficaces pour booster votre image. Nous vous accompagnons tout au long de votre plan de communication pour un impact marketing assuré.</p>
      <a>En savoir plus</a>
    </div>
  </div>
  <div class="container mx-auto">
   <!-- Galery apercu création-->
   <!-- todo: ajouter lien vers la page du projet-->
   <!-- todo: ajouter categorie (vitrine, marchand, etc)-->
   <h2>Nos créations</h2>
    <div class="grid grid-cols-4 gap-3">
      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div><div class="card bg-base-100 w-96 shadow-xl">
      <figure>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div><div class="card bg-base-100 w-96 shadow-xl">
      <figure>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div><div class="card bg-base-100 w-96 shadow-xl">
      <figure>
        <img
          src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
          alt="Shoes" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">Shoes!</h2>
        <p>If a dog chews shoes whose shoes does he choose?</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Buy Now</button>
        </div>
      </div>
    </div>
      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>

      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
      <div class="card bg-base-100 w-96 shadow-xl">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">Shoes!</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
        </div>
      </div>
    </div>
    <a class="/">Découvrir nos créations</a>
  </div>
  <div class="">
    <div class="">
      <h2>Développez votre business,
        et gagnez en visibilité</h2>
      <p>L’agence GEFIGRAM, spécialiste en communication visuelle et digitale depuis 2001, vous propose un accompagnement global et des solutions entièrement sur-mesure.

        Nous sommes à vos côtés pour cibler les supports de communication adaptés et vous accompagner dans la conception et la mise en place d’une stratégie de communication efficace.</p>
    </div>
    <a href="/">En savoir +</a>
  </div>
  <div class="">
    <h2>Une agence qui s'adapte à votre secteur d'activité</h2>
  </div>
<div class="">
<!--  ajouter une image-->
  <div class="">
    <h2>La clé d'une identité visuelle réussie pour votre marque</h2>
    <p>L'identitité visuelle est un élément essentiel pour toute maque qui souhaite se démarquer et laisser une impression durable sur son public. Une identitié visuelle bien conçue et ..</p>
    <a href="/">En savoir plus</a>
  </div>
</div>
  <div class="">
  <!--  Avis client-->
  <!--  ajouter une galery avec avis client-->
    <div class="">
      <div class="">
      <!--  loho entreprise-->
      <!--  autheur-->
      <!--  etoile-->
      <!--  commentaire user-->
      </div>
    </div>
  </div>
  <div class="">
    <h2>Gefigram l'Agence de communication 360° qui vous conseille dans le Var et en région PACA</h2>
    <div class="">
    <p>Vous recherchez une agence de communication pour :

      Réfléchir au développement de votre entreprise ?
      Bâtir une stratégie de communication durable et efficace ?
      Redéfinir votre positionnement sur le marché et vos valeurs ?
      Clarifier vos objectifs et les traduire sur vos supports de communication ?</p>
      <p>Gefigram est une agence de communication spécialisée dans le conseil stratégique et la création de nouveaux médias : Internet, solutions mobiles, supports papier / print, et supports web…

        Située dans le Var en région PACA, toute l’équipe de l’agence de communication vous accompagne pour affirmer l’identité de votre marque en apportant la meilleure réponse éditoriale, graphique ou digitale à votre stratégie de communication</p>
    </div>
  </div>
</Layout>
