<footer class="flex justify-between py-2.5 px-8 shadow items-center border-t">
  <p>Copyright &copy; 2025 - Korweb</p>
  <ul class="flex gap-x-2">
    <li><a><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a><i class="fa-brands fa-instagram"></i></a></li>
    <li><a><i class="fa-brands fa-facebook"></i></a></li>
  </ul>
</footer>