---
import { Image } from 'astro:assets';
import logo from '../images/logo.png';
---





<!--<header class="flex justify-between py-2.5 px-8 shadow  items-center">-->
<!--  <a class="flex items-center gap-x-2" href="/">-->
<!--    <Image src={logo} alt="KorWeb" width="40"/>-->
<!--    <span class="text-blue-900">Korweb</span>-->
<!--  </a>-->
<!--  <nav>-->
<!--    <ul class="flex gap-x-2">-->
<!--      <li><a href="/">Accueil</a></li>-->
<!--      <li><a href="/about">L'agence</a></li>-->
<!--      <li><a href="/contact">Réalisation</a></li>-->
<!--      <li><a href="/contact">Blog</a></li>-->
<!--      <li><a href="/contact">Contact</a></li>-->
<!--      <li><a href="/contact">Internet</a></li>-->

<!--    </ul>-->
<!--  </nav>-->
<!--</header>-->

