---
import {Image} from "astro:assets";
import logo from '../images/logo.png';
---

<a class="flex items-center gap-x-2" href="/">
  <Image src={logo} alt="KorWeb" width="60"/>
  <div class="flex flex-col">
    <span class="text-blue-600 text-xl">Korweb</span>
    <span class="text-xs">Agence Digital Web</span>
  </div>


</a>